<div class="equipament-card flex-container">
    <div class="silhouette-frame">
        <img class="silhouette-img" src="{{slh}}" alt="silhouette">
    </div>

    <div class="equipament-container">

    </div>
</div>